.home-head{
    text-align:center;
    margin-top:200px;
    margin-bottom:60px;
    font-size:45px;
}

.home-head span{
    color:#F8A900;
}

.homeSearch{
    width:60%;
    display:block;
    margin:0 auto;
    text-align:center;
    font-size:20px;
}

.homeSearchSubmit{
    width:10%;
    height: 40px;
    margin: 0 auto;
    display: block;
    margin-top:50px;
}

.home_container{
    max-width:1140px;
    margin:0px auto 0px auto;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.sea_wave{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/sea_wave.jpg");
}

.wave-enter-active{
    transform: translateY(0%); 
    transition: transform 1000ms;
}

.wave-enter{
    transform: translateY(100%);
}

.tag_wrapper, .to_intro{
    width:60%;
    margin:0 auto;
}

.tag_wrapper{
    padding:30px 0;
}

.tag_button{
    cursor:pointer;
    margin:10px 0;
}

.tags{
    display: flex;
    flex-wrap:wrap;
    border:1px solid black;
    background:white;
    padding:5px 10px;
    border-radius:10px;
}

.tag{
    width:auto;
    margin:5px;
    font-size:14px;
}

.fa{
    font-size:22px;
}

.tag-enter-active, .tag-leave-active {
    transform: translate(0px, 0px); 
    opacity: 1;
    transition: transform 500ms, opacity 500ms;
}

.tag-enter, .tag-leave-to {
    transform: translateY(-10%);
    opacity:0;
}

@media screen and (max-width: 480px) {

    .home-head{
        margin-top: 160px;
    }
    .home-head span{
        display: block;
    }

    .homeSearch, .tag_wrapper{
        width:90%;
    }

    .homeSearchSubmit{
        width:30%;
    }

    .tag{
        font-size:14px !important;
    }
}