a{
    text-decoration: none;
}
input[type=submit]{
    font-family: FontAwesome;
   }

html,body,div,h1,h2,h3,h4,h5, form,p{
    padding:0;
    margin:0;
}

.container{
    max-width:1140px;
    margin:30px auto 0px auto;
    box-shadow: 0 0 3px #747373;
    min-height: 100px;
    background:#f8fafc;
}

.bread{
    max-width:1140px;
    margin:0 auto;
    padding-top:120px;
    font-size: 22px;
    font-weight: 500;
}

.error_message{
    color:red;
}

.button{
    padding:5px 20px;
    /* width:15%; */
    color:white;
    background: linear-gradient(to top, #0000d2, #5bcaff);
    border-radius:20px;
    opacity:0.9;
    font-size:18px;
    cursor:pointer;
}

.button:hover{
    opacity:1.0;
}

.input_form{
    margin:10px 0;
}

.input_form input{
    width:25%;
}

.sea_wrapper{
    background-image:url('../img/natural_ocean.png');
    background-size: cover;
    width:100%;
    min-height:100%;
    padding-bottom:100px;
}


.header{
    background: linear-gradient(to top, #0000d2, #5bcaff);
    padding:0px 30px;
    display:flex;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:97;
}

.header_menu{
    display:inline-block;
    position:relative;
    margin:0 30px;
}

.menu_head{
    display: flex;
    align-items: center;
}

.header_menu p a{
    color:#F8A900;
}

.logo-wrapper{
    margin-right:auto;
}

.logo{
    display:inline-block;
    margin-right:50%;
    color:#F8A900;
    font-weight:bold;
    font-size:35px;
}

.header-list{
    padding:5px;
    display:block;
    border:1px solid white;
    color:white;
}

.hidden_menu{
    position:absolute;
    top: 170%;
    right: -50px;
    width: 150px;
    text-align: center;
    background: linear-gradient(to top, #0000d2, #5bcaff);
    display:none;
}


.menu_head:before{
    content:"tes";
    height: 100%;
    width: 55px;
}

.menu_title:hover + .hidden_menu, .hidden_menu:hover{
    display: block;
}


.search_button{
    margin:-10px;
}

.menu_title{
    font-size:20px;
    color:black;
    padding: 15px 20px;
    cursor:pointer;
    background:#F8A900;
    margin-top:10px;
    position: absolute;
    top: -21px;
}

.fa-bars{
    color:white;
}

.menu-wrapper{
    display: flex;
    align-items: center;
}

.loginMessage{
    color:white;
}

.d_modal{
    z-index:1;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content{
    z-index: 2;
    width: 50%;
    background: white;
    padding:1em;
    border-radius: 10px;
}

.modal_message{
    font-size:1.5em;
    margin:20px;
}

.close_modal{
    text-align: right;
}

.close_modal i{
    font-size: 2em;
    cursor: pointer;
}

.modal_button{
    color:white !important;
    cursor: pointer;
}



@media screen and (max-width: 480px) {
    .header_menu{
        display: none;
    }

    .menu_head{
        display: contents !important;
    }

    .button{
        width:unset;
    }

    .menu_title{
        position:static;
    }

    .menu_head:before{
        display: none;
    }

    .hidden_menu{
        top:100%;
        right: 0;
    }
}